monai==0.4.0
streamlit==0.75.0
opencv_python==4.5.1.48
dill==0.3.3
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp36-cp36m-linux_x86_64.whl
numpy==1.19.2
Pillow==8.1.0
